<!DOCTYPE html>
{% extends "inno/pages/basic_templates/base.html" %}
{% set page_name="New article" %}

{% block head %}
    <script language="JavaScript">
        var items = [1,1,1,1]; //Authors, Keywords, References, Affiliations
        var it = [[], [], [], []];

        function AddItem(n, str, placeholder) {
            div = document.getElementById(str + "_input");
            help = document.getElementById(str + "_input_help_block");
            items[n]++;
            parentdiv = document.createElement('div');
            parentdiv.className = "row margin_15";
            parentdiv.setAttribute('id', str + items[n])
            col1 = document.createElement('div');
            col2 = document.createElement('div');
            col1.className = "col-sm-3";
            col2.className = "col-sm-6";
            col1.innerHTML = '<p align="right" class="form-control-static">' + str + ' ' + items[n] + ':</p>';
            col2.innerHTML = '<input class="form-control" placeholder="' + placeholder + '" name="' + str + items[n] + '">';
            parentdiv.insertBefore(col2, null);
            parentdiv.insertBefore(col1, col2);
            div.insertBefore(parentdiv, help);
            it[n][items[n] - 1] = parentdiv;
        }


        function DeleteItem(n) {
            if (items[n] > 1) {
                elem = it[n][items[n] - 1];
                elem.remove();
                items[n]--;
            }
        }

        function Rs() {
            for (i = 0; i < 4; i++) {
                while (items[i] > 1) {
                    DeleteItem(i);
                }
            }
        }

    </script>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Paper registration form
            </div>
            <div class="panel-body">
                <div class="row">
                    <form action="{{ url_for('add_paper') }}" method="post" class="add-entry">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Title:</label>
                                <input class="form-control" placeholder="Article title" name="title">
                            </div>
                            <div class="form-group" id="Author_input">
                                <label>Authors:</label>

                                <div class="row margin_15" id="Author1">
                                    <div class="col-sm-3">
                                        <p align="right" class="form-control-static">Author 1:</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="Enter author's name" name="Author1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf067;"
                                               onClick="AddItem(0, 'Author', 'Enter author\'s name');"
                                               ID="add">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf068;"
                                               onClick="DeleteItem(0);"
                                               ID="delete">
                                    </div>
                                </div>
                                <p class="help-block" id="Author_input_help_block">Please check correctness of the input
                                    data!</p>
                            </div>
                            <div class="form-group">
                                <label>Abstract:</label>
                                <textarea class="form-control" rows="4" name="abstract"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Published in:</label>
                                <input class="form-control" placeholder="Enter journal name" name="publication_name">
                            </div>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="publication_type" id="optionsRadiosInline1"
                                           value="Journal" checked="">Journals & Magazines
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="publication_type" id="optionsRadiosInline2"
                                           value="Conference">Conference Book
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="margin_15">Index:</label>

                                <div class="row">
                                    <div class="col-sm-2"><label>Year: </label><input class="form-control"
                                                                                      placeholder="Year"
                                                                                      name="year"></div>
                                    <div class="col-sm-2"><label>Volume: </label><input class="form-control"
                                                                                        placeholder="Volume"
                                                                                        name="volume"></div>
                                    <div class="col-sm-2"><label>Issue: </label><input class="form-control"
                                                                                       placeholder="Issue"
                                                                                       name="issue"></div>
                                    <div class="col-sm-3"><label>SPage: </label><input class="form-control"
                                                                                       placeholder="First page"
                                                                                       name="spage"></div>
                                    <div class="col-sm-3"><label>FPage: </label><input class="form-control"
                                                                                       placeholder="End page"
                                                                                       name="fpage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Published by:</label>
                                <input class="form-control" placeholder="Enter publisher name" name="publisher_name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="margin_15">Identification:</label>

                                <div class="row">
                                    <div class="col-sm-4"><label>ISBN: </label><input class="form-control"
                                                                                      placeholder="ISBN"
                                                                                      name="isbn"></div>
                                    <div class="col-sm-4"><label>ISSN: </label><input class="form-control"
                                                                                      placeholder="ISSN"
                                                                                      name="issn"></div>
                                    <div class="col-sm-4"><label>DOI: </label><input class="form-control"
                                                                                     placeholder="DOI"
                                                                                     name="doi"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Link:</label>
                                <input class="form-control" placeholder="Hyperlink" name="link">
                            </div>

                            <div class="form-group" id="RA_input">
                                <label>Research area:</label>

                                <div class="row margin_15" id="research_area">
                                    <div class="col-sm-3">
                                        <p align="right" class="form-control-static">Research Area:</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="Enter research area" name="research_area">
                                    </div>
                                </div>
                                <p class="help-block" id="RA_input_help_block"></p>
                            </div>
                            <div class="form-group" id="Keyword_input">
                                <label>Keywords:</label>

                                <div class="row margin_15" id="Keyword1">
                                    <div class="col-sm-3">
                                        <p align="right" class="form-control-static">Keyword 1:</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="Enter keyword" name="Keyword1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf067;"
                                               onClick="AddItem(1, 'Keyword', 'Enter keyword');"
                                               ID="add">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf068;"
                                               onClick="DeleteItem(1);"
                                               ID="delete">
                                    </div>
                                </div>
                                <p class="input_help-block" id="Keyword_input_help_block"></p>
                            </div>
                            <div class="form-group" id="Reference_input">
                                <label>References:</label>

                                <div class="row margin_15" id="Reference1">
                                    <div class="col-sm-3">
                                        <p align="right" class="form-control-static">Reference 1:</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="Enter reference" name="Reference1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf067;"
                                               onClick="AddItem(2, 'Reference', 'Enter reference');"
                                               ID="add">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf068;"
                                               onClick="DeleteItem(2);"
                                               ID="delete">
                                    </div>
                                </div>

                                <p class="help-block" id="Reference_input_help_block"></p>
                            </div>
                            <div class="form-group" id="Affiliation_input">
                                <label>Affiliations:</label>

                                <div class="row margin_15" id="Affiliation1">
                                    <div class="col-sm-3">
                                        <p align="right" class="form-control-static">Affiliation:</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="Enter affiliation" name="Affiliation1">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf067;"
                                               onClick="AddItem(3, 'Affiliation', 'Enter affiliation');"
                                               ID="add">
                                    </div>
                                    <div class="col-sm-1">
                                        <input class="btn btn-default fa-fa" type="button"
                                               value="&#xf068;"
                                               onClick="DeleteItem(3);"
                                               ID="delete">
                                    </div>
                                </div>

                                <p class="help-block" id="Affiliation_input_help_block">Do not enter anything if there is no
                                    value.</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-sm-3">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="reset" class="btn btn-default" onClick="Rs();">Reset</button>
                                    </div>
                                </div>
                            </div>
                            {% if error %}
                            <div class="form-group">
                                <p align="center" style="font-size: larger; color: red">{{ error }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
{% endblock %}