<!DOCTYPE html>
{% extends "inno/pages/browse/paper_details.html" %}
{% set page_name="Edit" %}

{% block head %}
    <script language="JavaScript">

        {#        var counter=0;#}
        {#        var items = [];#}
        var it = [[], [], [], []];
        {#        items[0] = 1; //Authors#}
        {#        items[1] = 1; //References#}
        {#        items[2] = 1; //Keywords#}
        references = 1; //Should be replaced by Ref-s from DB
        cited_by = 1;  //The same
        var type = "{{ paper.type }}";
        const initial_amount = [{{ paper.authors|length }}, references, cited_by, {{ paper.key_words|length }}];
        var items = [1, 1, 1, 1];
        var initial = [[], [], [], []]; //for four categories authors, ref-s, keywords, Information of affiliation
        var number_of_init = [0, 0, 0, 0];

        function AddItem(index, str, placeholder, value) {
            div = document.getElementById(str + "_input");
            help = document.getElementById(str + "_input_help_block");
            items[index]++;
            parentdiv = document.createElement('div');
            parentdiv.className = "row margin_15";
            parentdiv.setAttribute('id', str + items[index]);
            col1 = document.createElement('div');
            col2 = document.createElement('div');
            col1.className = "col-sm-3";
            col2.className = "col-sm-6";
            col1.innerHTML = '<p align="right" class="form-control-static">' + str + ' ' + items[index] + ':</p>';
            col2.innerHTML = '<input class="form-control" placeholder="' + placeholder + '" name="' + str + items[index] + '" value="' + value + '">';
            parentdiv.insertBefore(col2, null);
            parentdiv.insertBefore(col1, col2);
            div.insertBefore(parentdiv, help);
            it[index][items[index] - 1] = parentdiv;
        }


        function DeleteItem(index) {
            if (items[index] > 1) {
                elem = it[index][items[index] - 1];
                elem.remove();
                items[index]--;
            }
        }

        function Rs(index, str, placeholder) {
            if (items[index] > number_of_init[index]) {
                while (items[index] > number_of_init[index]) {
                    DeleteItem(index);
                }
            }
            else if (items[index] < number_of_init[index]) {
                while (items[index] > 1) {
                    DeleteItem(index);
                }
                st(number_of_init[index], index, str, placeholder);
            }
        }


        function st(number_of_el, index, str, placeholder) {
            for (i = 1; i < number_of_el; i++) {
                AddItem(index, str, placeholder, initial[index][i]);
            }
        }


        function AddInitial(name, index) {
            initial[index][number_of_init[index]] = name;
            number_of_init[index]++;
        }


        function deletePaper() {
            if (confirm("The paper will be deleted. Are you sure?")) {
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('delete_paper') }}',
                    data: {id: {{ paper.id }}},
                    success: function (data) {
                        $('.results').html(data);
                    },
                    error: function (xhr, str) {
                        alert('Something went wrong: ' + xhr.responseCode);
                    }
                });
            }
        }

        function isJournal() {
            tmp1 = document.getElementById("optionsRadiosInline1");
            tmp2 = document.getElementById("optionsRadiosInline2");
            if (type == "Journal")
                tmp1.setAttribute('checked', 'checked');
            else tmp2.setAttribute('checked', 'checked');
        }

    </script>
{% endblock %}

{% block summary_editing_button %}
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-default" data-toggle="tab" data-target="#form_info" style="width: 110px">Edit Info
            </button>
        </div>
        <div class="col-sm-2">
            <input class="btn btn-default" name="delete" type=submit value="Delete Paper" onClick="deletePaper()">
        </div>
    </div>

{% endblock %}

{% block abstract_editing_button %}
    <button class="btn btn-default" data-toggle="tab" data-target="#form_abstract">Edit Abstract
    </button>
{% endblock %}

{% block authors_editing_button %}
    <button class="btn btn-default" data-toggle="tab" data-target="#form_authors">Edit Authors</button>
{% endblock %}

{% block references_editing_button %}
    <button class="btn btn-default" data-toggle="tab" data-target="#form_references">Edit Ref-s</button>
{% endblock %}

{% block cited_editing_button %}
    {#    <button class="btn btn-default" data-toggle="tab" data-target="#form_cited">Edit Cited</button>#}
{% endblock %}

{% block keyword_editing_button %}
    <button class="btn btn-default" data-toggle="tab" data-target="#form_keywords">Edit Keywords</button>
{% endblock %}

{% block info_editing %}
    <div id="form_info" class="tab-pane fade">
        <div class="row">
            <form action="{{ url_for('update_paper') }}" method="post" class="add-entry">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Title:</label>
                        <input class="form-control" placeholder="Article title" name="title" value="{{ paper.title }}">
                    </div>
                    <div class="form-group">
                        <label>Published in:</label>
                        <input class="form-control" placeholder="Enter journal name" name="publication_name"
                               value="{{ paper.publication_name }}">
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="publication_type" id="optionsRadiosInline1"
                                   value="Journal">Journals & Magazines
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="publication_type" id="optionsRadiosInline2"
                                   value="Conference" checked="checked">Conference Book
                        </label>
                        <script>isJournal();</script>
                    </div>
                    <div class="form-group">
                        <label class="margin_15">Index:</label>

                        <div class="row">
                            <div class="col-sm-2"><label>Year: </label><input class="form-control"
                                                                              placeholder="Year"
                                                                              name="year" value="{{ paper.year }}">
                            </div>
                            <div class="col-sm-2"><label>Volume: </label><input class="form-control"
                                                                                placeholder="Volume"
                                                                                name="volume"
                                                                                value="{{ paper.volume }}"></div>
                            <div class="col-sm-2"><label>Issue: </label><input class="form-control"
                                                                               placeholder="Issue"
                                                                               name="issue" value="{{ paper.issue }}">
                            </div>
                            <div class="col-sm-3"><label>SPage: </label><input class="form-control"
                                                                               placeholder="First page"
                                                                               name="spage" value="{{ paper.spage }}">
                            </div>
                            <div class="col-sm-3"><label>EPage: </label><input class="form-control"
                                                                               placeholder="End page"
                                                                               name="fpage" value="{{ paper.fpage }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Published by:</label>
                        <input class="form-control" placeholder="Enter publisher name" name="publisher_name"
                               value="{{ paper.publisher_name }}">
                    </div>
                    <div class="form-group">
                        <label class="margin_15">Identification:</label>

                        <div class="row">
                            <div class="col-sm-4"><label>ISBN: </label><input class="form-control"
                                                                              placeholder="ISBN"
                                                                              name="isbn" value="{{ paper.isbn }}">
                            </div>
                            <div class="col-sm-4"><label>ISSN: </label><input class="form-control"
                                                                              placeholder="ISSN"
                                                                              name="issn" value="{{ paper.issn }}">
                            </div>
                            <div class="col-sm-4"><label>DOI: </label><input class="form-control"
                                                                             placeholder="DOI"
                                                                             name="doi" value="{{ paper.doi }}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Link:</label>
                        <input class="form-control" placeholder="Hyperlink" name="link" value="{{ paper.link }}">
                    </div>

                    <div class="form-group" id="RA_input">
                        <label>Research area:</label>

                        <div class="row margin_15" id="RA1">
                            <div class="col-sm-3">
                                <p align="right" class="form-control-static">Research Area:</p>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="Enter research area" name="research_area"
                                        {% if paper.research_area %}  value="{{ paper.research_area }} {% endif %}">
                            </div>
                        </div>
                        <p class="help-block" id="RA_input_help_block"></p>
                    </div>
                    <div class="form-group" id="Affiliation_input">
                        <label>Affiliation:</label>

                        <div class="row margin_15" id="Affiliation1">
                            {% for affiliation in paper.affiliations %}
                                <script> AddInitial("{{ affiliation.term|e }}", 3); </script>
                            {% endfor %}
                            <div class="col-sm-3">
                                <p align="right" class="form-control-static">Affiliation:</p>
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" placeholder="Enter affiliation" name="Affiliation1"
                                          rows="5">{% if paper.affiliations.__len__()!=0 %}
                                    {{ paper.affiliations[0].term|e }}{% endif %}</textarea>
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf067;"
                                       onClick="AddItem(3, 'Affiliation', 'Enter affiliation','');"
                                       ID="add">
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf068;"
                                       onClick="DeleteItem(3);"
                                       ID="delete">
                            </div>
                        </div>
                        <script>st({{ paper.affiliations.__len__()}}, 3, 'Affiliation', "Enter affiliation")</script>
                        <p class="help-block" id="Affiliation_input_help_block">Do not enter anything if there is no
                            value.</p>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-2 ">
                                <button type="submit" class="btn btn-default">Submit</button>
                                <input type="hidden" name="tab" value="main">
                                <input type="hidden" name="id" value="{{ paper.id }}">
                            </div>
                            <div class="col-sm-2 ">
                                <button type="reset" class="btn btn-default"
                                        onClick="Rs(3, 'Affiliation', 'Enter affiliation');">Reset
                                </button>

                            </div>
                            <div class="col-sm-offset-5 col-sm-2">
                                <a data-toggle="tab" type="button" class="btn btn-default" href="#summary">Back</a>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                        <div class="form-group">
                            <p align="center" style="font-size: larger; color: red">{{ error }}</p>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block abstract_editing %}
    <div id="form_abstract" class="tab-pane fade">
        <form action="{{ url_for('update_paper') }}" method="post" class="add-entry">
            <div class="form-group">
                <label>Text area</label>
                <textarea name="abstract" class="form-control" rows="10">{{ paper.abstract }}</textarea>
                <input type="hidden" name="tab" value="abstract">
                <input type="hidden" name="id" value="{{ paper.id }}">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-2 ">
                        <button type="submit" class="btn btn-default">Submit</button>

                    </div>
                    <div class="col-sm-2 ">
                        <button type="reset" class="btn btn-default">Reset
                        </button>

                    </div>
                    <div class="col-sm-offset-5 col-sm-2">
                        <a data-toggle="tab" type="button" class="btn btn-default" href="#abstract">Back</a>
                    </div>
                </div>
            </div>
            {% if error %}
                <div class="form-group">
                    <p align="center" style="font-size: larger; color: red">{{ error }}</p>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block authors_editing %}
    <div id="form_authors" class="tab-pane fade">
        <form action="{{ url_for('update_paper') }}" method="post" class="add-entry">
            {% for author in paper.authors %}
                <script> AddInitial("{{ author.name }}", 0); </script>
            {% endfor %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group" id="Author_input">
                        <label>Authors:</label>

                        <div class="row margin_15" id="Author1">
                            <div class="col-sm-3">
                                <p align="right" class="form-control-static">Author 1:</p>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="Enter author's name" name="Author1"
                                        {% if paper.authors.__len__()!=0 %}
                                            value="{{ paper.authors[0].name }} {% endif %}">
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf067;"
                                       onClick="AddItem(0, 'Author', 'Enter author\'s name','');"
                                       ID="add">
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf068;"
                                       onClick="DeleteItem(0);"
                                       ID="delete">
                            </div>
                        </div>
                        <script>st({{ paper.authors.__len__()}}, 0, 'Author', "Enter author's name")</script>
                        <p class="help-block" id="Author_input_help_block">Check correctness of the input.</p>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="tab" value="authors">
                        <input type="hidden" name="id" value="{{ paper.id }}">

                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-2 ">
                                <button type="submit" class="btn btn-default">Submit</button>

                            </div>
                            <div class="col-sm-2 ">
                                <button type="reset" class="btn btn-default"
                                        onClick="Rs(0, 'Author', 'Enter author\'s name');">Reset
                                </button>
                            </div>
                            <div class="col-sm-offset-5 col-sm-2">
                                <a data-toggle="tab" type="button" class="btn btn-default" href="#authors">Back</a>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                        <div class="form-group">
                            <p align="center" style="font-size: larger; color: red">{{ error }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block references_editing %}
    <div id="form_references" class="tab-pane fade">
        <form action="{{ url_for('update_paper') }}" method="post" class="add-entry">
            <script> AddInitial("Diary generation from personal information models to support contextual remembering and reminiscence", 1); </script>
            {#            TODO: When references occurs replace it with following code#}
            {#            {% for reference in paper.references %}#}
            {#                <script> AddInitial("{{ reference.name }}", 0); </script>#}
            {#            {% endfor %}#}

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" id="Reference_input">
                        <label>References:</label>

                        <div class="row margin_15" id="Reference1">
                            <div class="col-sm-3">
                                <p align="right" class="form-control-static">Reference 1:</p>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="Enter referenced article title"
                                       name="Reference1"
                                       value="{{ paper.title }}">
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf067;"
                                       onClick="AddItem(1, 'Reference', 'Enter referenced article title','');"
                                       ID="add">
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf068;"
                                       onClick="DeleteItem(1);"
                                       ID="delete">
                            </div>
                        </div>
                        <script>st(1, 1, 'Reference', "Enter referenced article title")</script>
                        <p class="help-block" id="Reference_input_help_block">Check correctness of the input.</p>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="id" value="{{ paper.id }}">
                        <input type="hidden" name="tab" value="references">

                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-2 ">
                                <button type="submit" class="btn btn-default">Submit</button>

                            </div>
                            <div class="col-sm-2 ">
                                <button type="reset" class="btn btn-default"
                                        onClick="Rs(1, 'Reference', 'Enter referenced article title');">Reset
                                </button>
                            </div>
                            <div class="col-sm-offset-5 col-sm-2">
                                <a data-toggle="tab" type="button" class="btn btn-default" href="#references">Back</a>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                        <div class="form-group">
                            <p align="center" style="font-size: larger; color: red">{{ error }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block cited_editing %}
{% endblock %}

{% block keyword_editing %}
    <div id="form_keywords" class="tab-pane fade">
        <form action="{{ url_for('update_paper') }}" method="post" class="add-entry">
            {% for keyword in paper.key_words %}
                <script> AddInitial("{{ keyword.term|e }}", 2); </script>
            {% endfor %}

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group" id="Keyword_input">
                        <label>References:</label>

                        <div class="row margin_15" id="Keyword1">
                            <div class="col-sm-3">
                                <p align="right" class="form-control-static">Keyword 1:</p>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="Enter keyword"
                                       name="Keyword1" {% if paper.key_words.__len__()!=0 %}
                                       value="{{ paper.key_words[0].term|e }}" {% endif %}>
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf067;"
                                       onClick="AddItem(2, 'Keyword', 'Enter keyword','');"
                                       ID="add">
                            </div>
                            <div class="col-sm-1">
                                <input class="btn btn-default fa-fa" type="button"
                                       value="&#xf068;"
                                       onClick="DeleteItem(2);"
                                       ID="delete">
                            </div>
                        </div>
                        <script>st({{ paper.key_words.__len__() }}, 2, 'Keyword', "Enter keyword")</script>
                        <p class="help-block" id="Keyword_input_help_block">Check correctness of the input.</p>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="tab" value="keywords">
                        <input type="hidden" name="id" value="{{ paper.id }}">

                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-2 ">
                                <button type="submit" class="btn btn-default">Submit</button>

                            </div>
                            <div class="col-sm-2 ">
                                <button type="reset" class="btn btn-default"
                                        onClick="Rs(2, 'Keyword', 'Enter keyword');">Reset
                                </button>
                            </div>
                            <div class="col-sm-offset-5 col-sm-2">
                                <a data-toggle="tab" type="button" class="btn btn-default" href="#keywords">Back</a>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                        <div class="form-group">
                            <p align="center" style="font-size: larger; color: red">{{ error }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}