<!DOCTYPE html>
<html class="page page_type_index" lang="en">
    <head>
        <title>Welcome to Inno!</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <link rel="shortcut icon" href="favicon.ico"/>
        <link href="../../../static/css/style.css" rel="stylesheet"/>
    </head>

    <body class="page__body">
        <section class="welcome">
            <h1 class="welcome__title">Welcome to <br/>INNO Publication system!</h1>

            <p class="welcome__text">Our short description</p>

            <a class="btn" href={{ url_for('login') }}>Enter to publication system</a>

            <footer class="welcome__footer">Powered by
                <a class="link" href="mailto:arseniy.poyezzhayev@innopolis.ru">Poyezzhayev Arseniy, Pleshakov Samvel</a>
            </footer>
        </section>

        <!-- ****** JavaScript ****** -->
        <!-- JQuery -->
        <script src="../../../static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    </body>
</html>