<!DOCTYPE html>
<html class="page page_type_login" lang="en">
<head>
    {% block head %}
        <title>Authorization</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <link rel="shortcut icon" href="favicon.ico"/>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body class="page__body">
{#{% if error %}#}
{#    <p class="error"><strong>Error:</strong> {{ error }}{% endif %}#}
<section class="login">
    <header class="login__header">Innopolis Database</header>

    <div class="login__body">
        <form class="form" action="{{ url_for('login') }}" method="post">
            <input class="input" type="text" placeholder="Enter username" name="login"/>
            <input class="input" type="password" placeholder="Enter password" name="password"/>
            <button class="btn" type="submit" value="Login">Log in</button>
            <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                </label>
            </div>
        </form>
        <div class="dual_box"><a class="my_reference" href="{# restore password #}" itemprop="url">Forgot password</a> |
            <a class="my_reference" href="{{ url_for('register') }}">Not registered?</a></div>

    </div>
</section>
</body>
</html>