<!DOCTYPE html>
{% extends "inno/pages/basic_templates/base.html" %}
{% set page_name="Welcome to INNO DB" %}
{% block headtitle %}
    Main
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-file fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">1,200,500</div>
                                <div>Publications</div>
                            </div>
                        </div>
                    </div>
                    <a href="to_delete/publications.html">
                        <div class="panel-footer">
                            <span class="pull-left">View publications</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12,000</div>
                                <div>Authors</div>
                            </div>
                        </div>
                    </div>
                    <a href="to_delete/authors.html">
                        <div class="panel-footer">
                            <span class="pull-left">View authors</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tags fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124,000</div>
                                <div>Keywords</div>
                            </div>
                        </div>
                    </div>
                    <a href="to_delete/keywords.html">
                        <div class="panel-footer">
                            <span class="pull-left">View keywords</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 class="page-header">Last 5 publications</h3>
                <section class="publication">
                    <h2 class="publication__title">Systematic variation of the stellar initial mass function in
                        early-type galaxies</h2>
                    <ul class="publication__authors">
                        <li class="publication__author"><a class="link" href="#">Sadegh</a></li>
                        <li class="publication__author"><a class="link" href="#">Terer</a></li>
                        <li class="publication__author"><a class="link" href="#">Ivan</a></li>
                    </ul>
                    <div class="publication__description">
                        <p class="text">
                            Abstract The user of an image database often wishes to retrieve all images similar to the
                            one
                            (s) he already has. Using some features like texture, color and shape, we can associate a
                            feature vector to every image in the database. A fast indexing method then can
                        </p>
                    </div>
                    <a class="publication__link link"
                       href="http://www.nature.com/nature/journal/v484/n7395/abs/nature10972.html">See more</a>
                </section>
            </div>
        </div>
{% endblock %}

