@import "font.min.css";
@import "bootstrap.min.css";

/* <Reset> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section, summary, audio, video,
input, textarea, select, button
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: none;
}

input,
textarea
{
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

::selection
{
    color: #fff;
    background: #1fb5ad;
}

::-webkit-input-placeholder
{
    color: #666;
}

::-moz-placeholder
{
    color: #666;
}

:-moz-placeholder
{
    color: #666;
}

:-ms-input-placeholder
{
    color: #666;
}

input[placeholder]
{
    text-overflow: ellipsis;
}

input::-moz-placeholder
{
    text-overflow: ellipsis;
}

input:-moz-placeholder
{
    text-overflow: ellipsis;
}

input:-ms-input-placeholder
{
    text-overflow: ellipsis;
}

.input,
input[type='search']
{
    font-size: 14px;
    line-height: 1.42857143;

    height: 34px;
    padding: 6px 12px;

    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

.input:focus
{
    border: 1px solid #1fb5ad;
}

.btn,
.btn:hover,
.btn:focus
{
    font-size: 14px;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    background: #1fb5ad;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn_state_success,
.btn_state_success:hover
{
    background: #95b75d;
}

.btn_state_info,
.btn_state_info:hover
{
    background: #57c8f1;
}

.btn_state_warn,
.btn_state_warn:hover
{
    background: #f3c022;
}
/* </Reset> */

/* <Global Styles> */
.page__body
{
    margin-top: 100px;

    background: #222;
}

@media(min-width:768px) {
    .page__body
    {
        margin-top: 50px;
    }
}

.wrapper
{
    padding-left: 0;
}

#page-wrapper
{
    width: 100%;
    padding: 0;

    background: #fff;
}

.huge
{
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    .wrapper
    {
        padding-left: 225px;
    }

    #page-wrapper
    {
        padding: 10px;
    }
}
/* </Global Styles> */

/* <Navigation> */
.top-nav
{
    padding: 0 15px;
}

.top-nav>li
{
    display: inline-block;
    float: left;
}

.top-nav>li>a
{
    line-height: 20px;

    padding-top: 15px;
    padding-bottom: 15px;

    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus
{
    color: #fff;
    background: #000;
}

.top-nav>.open>.dropdown-menu
{
    position: absolute;

    float: left;

    margin-top: 0;

    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a
{
    white-space: normal;
}

ul.message-dropdown
{
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 250px;
    padding: 0;
}

li.message-preview
{
    width: 275px;

    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a
{
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer
{
    margin: 5px 0;
}

ul.alert-dropdown
{
    width: 200px;
}

.navbar a
{
    color: #fff;
}

.navbar .side-nav a
{
    padding: 18px 15px 18px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
/* </Navigation> */

/* <Side Navigation> */
@media(min-width:768px) {
    .side-nav
    {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 225px;

        overflow-x: hidden;
        overflow-y: auto;

        width: 225px;
        margin-left: -225px;
        padding-bottom: 40px;

        border: none;
        border-radius: 0;
        background: #222;
    }

    .side-nav>li>a
    {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus
    {
        outline: none;
        background: #000 !important;
    }
}

.side-nav>li>ul
{
    padding: 0;
}

.side-nav>li>ul>li>a
{
    display: block;

    padding: 10px 15px 10px 38px;

    text-decoration: none;

    color: #999;
}

.side-nav>li>ul>li>a:hover
{
    color: #fff;
}
/* </Side Navigation> */

/* <Custom Colored Panels> */
.huge
{
    font-size: 36px;
}

.panel-red
{
    border-color: #fa8564;
}

.panel-red > .panel-heading
{
    color: #fff;
    border-color: #fa8564;
    background: #fa8564;
}

.panel-red > a
{
    color: #fa8564;
}

.panel-red > a:hover
{
    color: #fa8564;
}

.panel-yellow
{
    border-color: #f3c022;
}

.panel-yellow > .panel-heading
{
    color: #fff;
    border-color: #f3c022;
    background: #f3c022;
}

.panel-yellow > a
{
    color: #f3c022;
}

.panel-yellow > a:hover
{
    color: #ecbc20;
}

.panel-footer
{
    background: none;
}
/* </Custom Colored Panels> */

/* <Login> */
.login
{
    width: 350px;
    margin: 200px auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.login__header
{
    font-size: 20px;

    padding: 15px;

    text-align: center;
    text-transform: uppercase;

    border-bottom: 1px solid #eff2f7;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    background: #f5f5f5;
}

.login__body
{
    padding: 40px;
}

.login .input
{
    width: 100%;
    margin: 0 0 20px;
}

.login .btn
{
    width: 100%;
}
/* </Login> */

/* <Welcome> */
.welcome
{
    font-size: 20px;
    padding: 100px 50px 50px;

    text-align: center;
    color: #fff;
}

.welcome__title
{
    margin: 0 0 40px;
}

.welcome__text
{
    padding: 10px 0;
}

.welcome__footer
{
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.welcome .btn
{
    font-size: 20px;
    margin: 20px 10px 10px;
}

.welcome .link
{
    color: #1fb5ad;
}
/* </Welcome> */

/* <Main Styles> */

/* </Main Styles> */