@import "font.min.css";
@import "bootstrap.min.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section, summary, audio, video,
input, textarea, select, button {
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: none;
}

input,
textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

::selection {
    color: #fff;
    background: #0ea1b5;
}

.input,
input[type='search'] {
    font-size: 14px;
    line-height: 1.42857143;

    height: 34px;
    padding: 6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    color: #555;
    border: 1px solid #ccc;
    background: #fff;
}

.input:focus {
    border: 1px solid #0ea1b5;
}

.btn,
.btn:hover,
.btn:focus {
    font-size: 14px;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #fff;
    border: 1px solid transparent;
    outline: none;
    background: #0ea1b5;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn_state_success,
.btn_state_success:hover {
    background: #95b75d;
}

.btn_state_info,
.btn_state_info:hover {
    background: #57c8f1;
}

.btn_state_warn,
.btn_state_warn:hover {
    background: #f3c022;
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 102px;
    min-height: 100%;
    height: 1px;
}

.page-wrapper {
    width: 100%;
    padding: 0;
    min-height: 100%;
    background: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: 225px;
        padding-top: 50px;
        padding-bottom: 82px; /*made for footer, should be updated according to number of lines in footer*/
    }

    .page-wrapper {
        padding: 10px;
        padding-left: 40px;
    }
}

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    line-height: 20px;

    padding-top: 15px;
    padding-bottom: 15px;

    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background: #000;
}

.top-nav > .open > .dropdown-menu {
    position: absolute;

    float: left;

    margin-top: 0;

    border: 1px solid rgba(0, 0, 0, .15);
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 250px;
    padding: 0;
}

li.message-preview {
    width: 275px;

    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.navbar a {
    color: #fff;
}

.navbar .side-nav a {
    padding: 18px 15px 18px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 225px;

        overflow-x: hidden;
        overflow-y: auto;

        width: 225px;
        margin-left: -225px;
        padding-bottom: 40px;

        border: none;
        background: #222;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;

    padding: 10px 15px 10px 38px;

    text-decoration: none;

    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

.huge {
    font-size: 36px;
}

.panel-red {
    border-color: #fa8564;
}

.panel-red > .panel-heading {
    color: #fff;
    border-color: #fa8564;
    background: #fa8564;
}

.panel-red > a {
    color: #fa8564;
}

.panel-red > a:hover {
    color: #fa8564;
}

.panel-yellow {
    border-color: #f3c022;
}

.panel-yellow > .panel-heading {
    color: #fff;
    border-color: #f3c022;
    background: #f3c022;
}

.panel-yellow > a {
    color: #f3c022;
}

.panel-yellow > a:hover {
    color: #ecbc20;
}

.panel-footer {
    background: none;
}

.login {
    width: 400px;
    margin: 150px auto;

    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.login__header {
    font-size: 20px;

    padding: 15px;

    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #eff2f7;
    background: #0ea1b5;;
}

.login__body {
    padding: 40px;
}

.login .input {
    width: 100%;
    margin-bottom: 20px;
}

.login .btn {
    width: 100%;
}

.welcome {
    font-size: 20px;
    padding: 100px 50px 50px;

    text-align: center;
    color: #fff;
}

.welcome__title {
    margin: 0 0 40px;
}

.welcome__text {
    padding: 10px 0;
}

.welcome__footer {
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.welcome .btn {
    font-size: 20px;
    margin: 20px 10px 10px;
}

.welcome .link {
    color: #0ea1b5;
}

.footer {
    padding: 30px;
    border-top: 2px solid #eee;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .footer {
        padding: 30px; /*added 225px padding for nav panel, should substitute with variables */
    }
}

.simple-list {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;

}

.publ-list {

}

/* Reuse bootstrap styles */
.page_type_index body,
.page_type_login body,
.navbar-inverse,
.nav.navbar-nav.side-nav {
    background: #454545;
}

.search-input {
    width: 40%;
}

.page, .page__body {
    min-height: 100%; /*display correctly in case of short content*/
    width: 100%;
    /*overflow: auto; /!*important thing*!/*/
    height: 1px;
}

.page__body {
    position: absolute; /*in other case footer will stick to the end of the content, not to the end of page*/
}

.item_list {
    height: 100%;
    width: 100%;
    float: left;
}

.side_panel {
    width: 220px;
    float: left;
    margin-left: -220px;
    position: relative;
    border: 2px solid #0ea1b5;
}

.panel-search {
    width: 90%;
    max-width: 600px;
}

.panel-body {
    padding: 10px;
}

.badge {
    background-color: #0ea1b5;
}

/*TODO: Create variable width that depends on size of the block ((size-4)/2) */
.btn-monospaced {
    width: 96px;
}

.number_of_matches {
    margin-left: 2em;
    margin-bottom: 5px;
}

.author {

}

.article_box {
    margin: 1em 1em 1em 25px;
    list-style-type: square;
}

.box {
    padding: 1em;
    float: right;
}

.title {
    color: #666666;
    font-weight: 700;
}

.year {
    color: #666666;
    font-weight: 700;
}

.dual_box {
    margin-top: 20px;
}

.my_reference {
    color: #0ea1b5
}

.register {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
}

.form-horizontal {
    width: 100%;
    max-width: 800px;
    padding-right: 220px;
}

.tab-pane {
    margin-top: 20px;
}

.header {
    color: #666666;
    font-weight: 700;
    margin-bottom: 1em;
}

.delete_article {
    color: #333;
}

.add_article {
    color: #3c763d;
}

.update_article {
    color: #0ea1b5;
}

.text-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-my {
    margin: 5px;
}

.nav-tabs {
    border-bottom-color: #0ea1b5;
}

.nav-tabs > li.active > a:focus {
    border-color: #0ea1b5;
    border-bottom-color: transparent;
}

.supplementary-box {
    margin-left: -200px;
    width: 200px;
    float: left;
}

.fa-fa {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.left {
    float: left;
}

.index {
    /*border: solid 1px #0ea1b5;*/
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.paddding-zero {
    padding: 0px;
!important;
}

.padding-left {
    padding-right: 230px;
}

.my-dropdown {
    position: absolute;
    top: 2em;
    left: 2em;
    display: none;
    float: left;
    min-width: 18em;
    padding: 5px 0;
    margin: 5px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    /* -webkit-background-clip: padding-box; */
    /* background-clip: padding-box; */
    /* border: 1px solid #ccc; */
    /* border: 1px solid rgba(0,0,0,.15); */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
    /* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
}

.margin_15{
    margin-bottom: 15px;
}



ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/

.compact-theme a, .compact-theme span {
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	border-left: none;
	min-width: 14px;
	padding: 0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.compact-theme a:hover {
	text-decoration: none;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
	border-left: 1px solid #AAA;
	border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
	border-radius: 0 3px 3px 0;
}

.compact-theme .current {
	background: #bbbbbb; /* Old browsers */
	background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
	cursor: default;
}

.compact-theme .ellipse {
	background: #EAEAEA;
	padding: 0 10px;
	cursor: default;
}