<!DOCTYPE html>
<html class="page" lang="en">

<head>
    <title>{% block headtitle %}IDB: {{ page_name }}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="../../../../static/css/style.css" rel="stylesheet">
    <!-- ****** JavaScript ****** -->
    <script src="../../../../static/js/jquery-2.1.4.min.js"></script>
    <script src="../../../../static/js/bootstrap.min.js"></script>
    <script src="../../../../static/js/project.js"></script>
    {% block head %}
    {% endblock %}
</head>

{#VARIABLES:
user - user logged in session
user.user_name - name of user logged in#}

{# page__body - just the whole page#}
<body class="page__body">
{# wrapper made for changing the configuration of the navigation panel and footer according to the size of screen, for example changing the margins#}
<div class="wrapper">
    {#just adaptable navigation panel#}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../main.html">INNO</a>
        </div>
        {#user_control panel#}
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ session.login }}<b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href={{ url_for('profile') }}><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        {#                        TODO: add ref to publications#}
                        <a href={{ url_for('profile') }}><i class="fa fa-fw fa-edit"></i> Publications</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href={{ url_for('logout') }}><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        {#changing part of the navigation panel, fits the size of screen#}
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href={{ url_for('main') }}><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href={{ url_for('basic_search') }}><i class="fa fa-fw fa-search"></i> Search</a>
                </li>
                <li>
                    <a href={{ url_for('browse') }}><i class="fa fa-fw fa-list"></i> Browse</a>
                </li>

                {% if session.type=='Author' or session.type=='Publisher' %}
                    <li>
                        <a href={{ url_for('add_paper') }}><i class="fa fa-fw fa-file-text add_article"></i> Add
                            Article</a>
                    </li>
                    {#                    <li>#}
                    {#                        <a href={{ url_for('update_paper') }}><i class="fa fa-fw fa-file-text update_article"></i>#}
                    {#                            Update Article</a>#}
                    {#                    </li>#}
                    {#                    <li>#}
                    {#                        <a href={{ url_for('delete_paper') }}><i class="fa fa-fw fa-file-text delete_article"></i>#}
                    {#                            Delete Article</a>#}
                    {#                    </li>#}
                {% endif %}

                {% block nav_panel %}

                {% endblock %}
            </ul>
        </div>
    </nav>
    {# all the content except navigation panel#}
    <div class="page-wrapper">
        {#      customizable content#}
        <div class="container-fluid">
            <h1 class="page-header">{{ page_name }} </h1>
            {% block content %}
                {#            here we should paste the content of the site#}
            {% endblock %}
        </div>
    </div>
    {# footer that contains the information about site creators, m.b. Innopolis and etc. #}
    <footer class="footer">
        <div class="row">
            <div class="col-md-10">
                InnopolisUniversityLOGO
            </div>
            <div class="col-md-2">
                <a class="link" href="mailto:arseniy.poyezzhayev@innopolis.ru">Poyezzhayev Arseniy</a>
            </div>
        </div>
    </footer>
</div>


</body>
</html>

