<!DOCTYPE html>
{% extends "inno/pages/basic_templates/base.html" %}
{% set page_name="Basic search" %}

{% block content %}
    {#    search panel#}
    <div class="panel panel-default panel-search">
        <div class="panel-body">
            <form action="{{ url_for('basic_search') }}" class="input-group custom-search-form" method="POST">
                <input class="hidden" name="search_type" id="search_type">
                <script lang="JavaScript">
                    default_search_type = "{{ search_type }}";

                    function choose(search_type) {
                        inp = document.getElementById('search_type');
                        inp.setAttribute('value', search_type);
                    }
                    choose(default_search_type);
                </script>
                <div class="row>">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search..." value="{{ query }}">

                            <div class="input-group-btn">
                                <button tabindex="-1" class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                                </button>
                                <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                        type="button">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" onclick="choose('title');">Title</a></li>
                                    <li><a href="#" onclick="choose('author');">Author</a></li>
                                    <li><a href="#" onclick="choose('year');">Year</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" onclick="choose('research_area');">Research area</a></li>
                                    <li><a href="#" onclick="choose('affiliation');">Affiliation</a></li>
                                    <li><a href="#" onclick="choose('key_word');">Key word</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--</form>-->
        </div>
        <!-- /.panel-body -->
    </div>
    {#    name of the search's type#}
    <h4 class="page-header">{{ search_type }}</h4>
    {#    search results#}
    {% block search_results %}
    {% endblock %}


{% endblock %}


