<!DOCTYPE html>
{% extends "inno/pages/basic_templates/basic_search.html" %}
{% set type_of_search="Please enter a search query" %}

{% block search_results %}
<div class="item_list">
    <ul class="simple-list">
        <li><em>case-insensitive prefix search:</em> default <br>
            <small>e.g., <span class="eg"><a href="?q=sig">sig</a></span> matches "SIGIR" as well as
                "signal"
            </small>
        </li>
        <li><em>exact word search:</em> append dollar sign ($) to word<br>
            <small>e.g., <span class="eg"><a href="?q=graph$">graph$</a></span> matches "graph", but not
                "graphics"
            </small>
        </li>
        <li><em>phrase search:</em> connect words by a dot (.)<br>
            <small>e.g., <span class="eg"><a
                    href="?q=inform.retriev.tech">inform.retriev.tech</a></span>
            </small>
        </li>
        <li><em>boolean and:</em> separate words by space<br>
            <small>e.g., <span class="eg"><a href="?q=codd%20model">codd model</a></span></small>
        </li>
        <li><em>boolean or:</em> connect words by pipe symbol (|)<br>
            <small>e.g., <span class="eg"><a href="?q=graph%7Cnetwork">graph|network</a></span></small>
        </li>
        <li><em>boolean not:</em> prepend word by minus sign (-)<br>
            <small>e.g., <span class="eg"><a href="?q=knuth%20-don">knuth -don</a></span></small>
        </li>
    </ul>
</div>
{% endblock %}