<!DOCTYPE html>
{% extends "inno/pages/basic_templates/base.html" %}
{% set page_name="Journals & Magazines" %}

{% block head %}
    <script language="JavaScript">
        page_number ={{ page_number }};
        papers_per_page ={{ papers_per_page }};
        url = "{{ url_for('browse') }}";
        number_of_matches = {{ count }};
        max_page = Math.floor(number_of_matches / papers_per_page) + 1;
        page_refs = [];
        query = "{{ query }}";
        sorting_attribute = "{{ sorting_attribute }}";

        function makePagination() {
            parent = document.getElementById('pagination');
            initial_page = 1;
            if (page_number > 1) {
                page_shown = page_number - 1;
                previous = document.createElement('li');
                previous.innerHTML = '<a href="#" onclick="postAndRedirect({sorting_attribute: \'' + sorting_attribute + '\', page_number: ' + page_shown + ', papers_per_page: ' + papers_per_page + '});"> Prev </a>';
                parent.insertBefore(previous, null);
            }
            if (page_number > 3) {
                if (page_number > max_page - 3) {
                    initial_page = max_page - 4;
                } else {
                    initial_page = page_number-2;
                }
            }
            for (i = 0; i < 5 && i < (max_page); i++) {
                page_refs[i] = document.createElement('li');
                page_shown = initial_page + i;
                page_refs[i].innerHTML = '<a href="#" onclick="postAndRedirect({sorting_attribute: \'' + sorting_attribute + '\', page_number: ' + page_shown + ', papers_per_page: ' + papers_per_page + '});">' + page_shown + '</a>';

                parent.insertBefore(page_refs[i], null);
                if (page_number == initial_page + i) {
                    page_refs[i].className = 'active';
                }
            }
            if (page_number < max_page) {
                page_shown = page_number + 1;
                next = document.createElement('li');
                next.innerHTML = '<a href="#" onclick="postAndRedirect({sorting_attribute: \'' + sorting_attribute + '\', page_number: ' + page_shown + ', papers_per_page: ' + papers_per_page + '});"> Next </a>';
                parent.insertBefore(next, null);
            }
        }

        function postAndRedirect(postData) {
            var postFormStr = "<form method='POST' action='" + url + "'>\n";

            for (var key in postData) {
                if (postData.hasOwnProperty(key)) {
                    postFormStr += "<input type='hidden' name='" + key + "' value='" + postData[key] + "'></input>";
                }
            }

            postFormStr += "</form>";

            var formElement = $(postFormStr);

            $('body').append(formElement);
            $(formElement).submit();
        }

        function chooseSel() {
            switch (sorting_attribute) {
                case "year":
                    document.getElementById("opt1").setAttribute('selected', 'selected');
                    break;
                case "title":
                    document.getElementById("opt2").setAttribute('selected', 'selected');
                    break;
                case "author":
                    document.getElementById("opt3").setAttribute('selected', 'selected');
                    break;
                case "cited_by":
                    document.getElementById("opt4").setAttribute('selected', 'selected');
                    break;
            }
        }


    </script>
{% endblock %}

{% block content %}
{#    <div class="index">#}
{#        <ul class="list-inline">#}
{#            <li><a href="#">A</a></li>#}
{#            <li><a href="#">B</a></li>#}
{#            <li><a href="#">C</a></li>#}
{#            <li><a href="#">D</a></li>#}
{#            <li><a href="#">E</a></li>#}
{#            <li><a href="#">F</a></li>#}
{#            <li><a href="#">G</a></li>#}
{#            <li><a href="#">H</a></li>#}
{##}
{#        </ul>#}
{#    </div>#}
    <div class="item_list">
        <div class="row margin_15">
            <div class="col-sm-offset-1 col-sm-2">
                <div class="form-group">
                    <p class="form-control-static">
                        {%- if count==0 -%} no matches
                        {%- elif count==1 -%} found 1 match
                        {%- else -%} found {{ count }} matches
                        {%- endif -%}
                    </p>
                </div>
            </div>
            <div class="col-sm-offset-5 col-sm-3">
                <form action="{{ url_for('browse') }}" class="input-group custom-search-form" method="POST"
                      style="width: 150px">
                    <select class="form-control" name="sorting_attribute">
                        <option value="year" id="opt1">Year</option>
                        <option value="title" id="opt2">Title</option>
                        <option value="author" id="opt3">Author</option>
                        <option value="cited_by" id="opt4">Citations</option>
                    </select>
                    <script> chooseSel(); </script>
                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-sort-amount-desc"></i>
                                        </button>
                        </span>
                </form>
            </div>

        </div>
        {#     list of the results #}
        <ul class="list-unstyled">
            {#        ===============article===============#}
            {#        TODO: Add list with blocks and without blocks!!!#}
            {% for paper in papers %}
                {% if sorting_attribute=="year" %}
                    {% if year!=paper.year %}
                        {% set year=paper.year %}
                        <li class="year">{{ year }}</li>
                    {% endif %}
                {% endif %}
                <li class="article_box">
                    {#                list item #}
                    <div class="box"></div>
                    {#                icons for donwnloading, watching xml & etc.#}
                    <nav class="publ"></nav>
                    {#            list of all authors with references#}
                    <div class="data">
                        <a href="{{ url_for('paper_details', p_id=paper.id) }}" itemprop="url"> <span
                                class="title">{{ paper.title }}</span></a>
                        {#                    all authors#}
                        <br>
                    <span class="authors">
                        {% for author in paper.authors %}
                            {#                            TODO: Make author URLS working on queries#}
                            <a href="{# query_to_find_author #}" itemprop="url"> <span
                                    itemprop="name">{{ author.name|e }}, </span></a>
                        {% endfor %}
                    </span>
                    <span class="other_info">
                        <a href="{# somewhere #}" itemprop="url"> <span
                                itemprop="publication_name">{{ publication_name }}</span></a>
                        <span itemprop="year"> Year: {{ paper.year }}</span>
                        {% if paper.volume!='' %}<span itemprop="volume">, Volume: {{ paper.volume }}</span>{% endif %}
                        {% if paper.issue!='' %}<span itemprop="issue">, Issue: {{ paper.issue }}</span>{% endif %}
                        <span itemprop="pages">, Pages: {{ paper.spage }}-{{ paper.fpage }}</span>
                        <span itemprop="doi">, DOI: {{ paper.doi }}</span>.
                    </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if count/papers_per_page>1 %}
        <div class="box">
            <ul class="pagination" id="pagination" name="pagination">
                <script> makePagination(); </script>
            </ul>
        </div>
    {% endif %}

{% endblock %}
