<!DOCTYPE html>
{% extends "inno/pages/basic_templates/base.html" %}
{% set page_name = paper.title + ":" %}


{% block content %}
    {#    TODO: add references everywhere#}
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#summary">&nbsp;&nbsp;Main&nbsp;&nbsp;</a></li>
            <li><a data-toggle="tab" href="#abstract">Abstract</a></li>
            <li><a data-toggle="tab" href="#authors">Authors</a></li>
            {#            <li><a data-toggle="tab" href="#references">References</a></li>#}
            <li><a data-toggle="tab" href="#cited_by">Cited by</a></li>
            <li><a data-toggle="tab" href="#keywords">Keywords</a></li>
        </ul>

        <div class="tab-content">
            <div id="summary" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-sm-6 margin_15">
                        <h4>Published in:</h4>
                        <a href="#">{{ paper.publication_name }}</a>
                        <a href="#"><span>
                            {% if paper.volume!='' and paper.volume!=-1 %}
                                (Volume: {{ paper.volume }}
                            {% endif %}
                            {% if paper.issue!=-1 and paper.issue!='' %}
                                , Issue: {{ paper.issue }})
                            {% endif %}
                            )
                        </span></a>
                    </div>
                    <div class="col-sm-4 margin_15">
                        <a href="{{ paper.link }}" class="btn-default btn" type="button" style="font-size: x-large"><i
                                class="fa fa-fw fa-link"></i> GoTO
                            Article</a>
                    </div>
                    {% if paper.type=='Conference' %}
                        <div class="col-sm-12 margin_15">
                            <h4>Date of Conference:</h4>
                            <a href="#">{{ paper.year }}</a>
                        </div>
                    {% elif paper.type=='Journal' %}
                        <div class="col-sm-12 margin_15">
                            <h4>Year of Publication:</h4>
                            <a href="#">{{ paper.year }}</a>
                        </div>
                    {% endif %}
                    <div class="col-sm-5">
                        <div class="margin_15">
                            <h4>Pages:</h4>

                            <p>{{ paper.spage }} - {{ paper.fpage }}</p>
                        </div>
                        {% if paper.isbn != '' %}
                            <div class="margin_15">
                                <h4>ISBN:</h4>

                                <p>{{ paper.isbn }}</p>
                            </div>
                        {% endif %}
                        {% if paper.issn != '' %}
                            <div class="margin_15">
                                <h4>ISSN:</h4>

                                <p>{{ paper.issn }}</p>
                            </div>
                        {% endif %}
                        <div class="margin_15">
                            <h4>Paper Type:</h4>

                            <a href="#">{{ paper.type }}</a>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-sm-4">
                        {% if paper.affiliations.__len__()!=0 %}
                            <div class="margin_15">
                                <h4>Affiliation:</h4>
                                {% for affiliation in paper.affiliations %}
                                    <p>{{ affiliation.term|e }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if paper.doi != '' %}
                            <div class="margin_15">
                                <h4>DOI:</h4>

                                <p>{{ paper.doi|e }}</p>
                            </div>
                        {% endif %}
                        {% if paper.publisher_name != '' %}
                            <div class="margin_15">
                                <h4>Publisher:</h4>

                                <a href="#">{{ paper.publisher_name }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <p class="text-container"></p>
                {% block summary_editing_button %}
                {% endblock %}
            </div>
            <div id="abstract" class="tab-pane fade">
                <p class="text-container">{{ paper.abstract }}</p>
                {% block abstract_editing_button %}
                {% endblock %}
            </div>
            <div id="authors" class="tab-pane fade">
                <h3 class="header">Author(s)</h3>

                <div class="text-container">
                    <ol>
                        {% for author in paper.authors %}
                            <li class="article_box" style="list-style-type: decimal">
                                <a href="#">{{ author.name|e }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                {% block authors_editing_button %}
                {% endblock %}
            </div>
            <div id="references" class="tab-pane fade">
                <h3 class="header">References</h3>

                <div class="text-container">
                    <ul class="list-unstyled">
                        <li class="article_box">
                            <div class="data">
                                <a href="{{ url_for('paper_details', p_id=paper.id) }}" itemprop="url"> <span
                                        class="title">{{ paper.title }}</span></a>
                                {#                    all authors#}
                                <br>
                    <span class="authors">
                        {% for author in paper.authors %}
                            {#                            TODO: Make author URLS working on queries#}
                            <a href="{# query_to_find_author #}" itemprop="url"> <span
                                    itemprop="name">{{ author.name|e }}, </span></a>
                        {% endfor %}
                    </span>
                    <span class="other_info">
                        <a href="{# somewhere #}" itemprop="url"> <span
                                itemprop="publication_name">{{ publication_name }}</span></a>
                        <span itemprop="year"> Year: {{ paper.year }}</span>
                        {% if paper.volume!='' %}<span itemprop="volume">, Volume: {{ paper.volume }}</span>{% endif %}
                        {% if paper.issue!='' %}<span itemprop="issue">, Issue: {{ paper.issue }}</span>{% endif %}
                        <span itemprop="pages">, Pages: {{ paper.spage }}-{{ paper.fpage }}</span>
                        <span itemprop="doi">, DOI: {{ paper.doi }}</span>.
                    </span>
                            </div>
                        </li>
                        {#                        {% for reference in paper.references %}#}
                        {#                            <li class="article_box">#}
                        {#                                <a href="#">{{ author.reference|e }}</a>#}
                        {#                            </li>#}
                        {#                        {% endfor %}#}

                    </ul>
                </div>
                {% block references_editing_button %}
                {% endblock %}
            </div>
            <div id="cited_by" class="tab-pane fade">
                <h3 class="header">Cited by</h3>

                <div class="text-container">
                    <ul class="list-unstyled">
                        <li class="article_box"><a href="#">Cited_reference 1</a></li>
                        {#                        {% for reference in paper.references %}#}
                        {#                            <li class="article_box">#}
                        {#                                <a href="#">{{ author.reference|e }}</a>#}
                        {#                            </li>#}
                        {#                        {% endfor %}#}
                    </ul>
                </div>
                {% block cited_editing_button %}
                {% endblock %}
            </div>
            <div id="keywords" class="tab-pane fade">
                <h3 class="header">Keywords</h3>

                <div class="text-container">
                    <ul class="list-unstyled">
                        {% for keyword in paper.key_words %}
                            <li>
                                <a href="#">{{ keyword.term|e }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% block keyword_editing_button %}
                {% endblock %}
            </div>
            {% block info_editing %}
            {% endblock %}
            {% block abstract_editing %}
            {% endblock %}
            {% block authors_editing %}
            {% endblock %}
            {% block references_editing %}
            {% endblock %}
            {% block cited_editing %}
            {% endblock %}
            {% block keyword_editing %}
            {% endblock %}
        </div>
    </div>
{% endblock %}