<!DOCTYPE html>
<html class="page page_type_login" lang="en">
<head>
    {% block head %}
        <title>Register</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <link rel="shortcut icon" href="favicon.ico"/>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>

        <script language="JavaScript">
            window.onload = function () {
                document.getElementById("password1").onchange = validatePassword;
                document.getElementById("password2").onchange = validatePassword;
            }

            function validatePassword() {
                var pass2 = document.getElementById("password2").value;
                var pass1 = document.getElementById("password1").value;
                if (pass1 != pass2)
                    document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                else
                    document.getElementById("password2").setCustomValidity('');
            }
        </script>

    {% endblock %}
</head>
<body class="page__body">
{#{% if error %}#}
{#    <p class="error"><strong>Error:</strong> {{ error }}{% endif %}#}
<section class="register">
    <header class="login__header">Innopolis Database</header>

    <div class="login__body">
        <form class="form-horizontal" action="{{ url_for('register') }}" method="post" class="add-entry">

            <h4 class="form-group">Account info: </h4>

            <div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Login:</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Enter login" size="30" name="login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Password:</label>

                    <div class="col-sm-8">
                        <input type="password" class="form-control" placeholder="Enter password" size="30"
                               id="password1" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Submit password:</label>

                    <div class="col-sm-8">
                        <input type="password" class="form-control" placeholder="Submit password" id="password2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" value="register" class="btn btn-default btn-monospaced">Register</button>
                    <a type="button" class="btn btn-default btn-monospaced" href="{{ url_for('login') }}">Back
                    </a>
                </div>
            </div>

        </form>
    </div>
</section>
</body>
</html>